node_modules
npm-debug.log
.next
.env
.env.local
.env.*.local
dist
coverage
.astro
.vscode
.idea
*.log
.DS_Store
.git
.gitignore
README.md
playwright-report
test-results
playwright
*.md
!.github/**/*.md

